<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-4 text-primary">Setup-On!</h1>
      <p class="lead">Setup Rails com Bootstrap.</p>
      <a href="#" class="btn btn-success btn-lg mt-3">ready go</a>

      <i class="bi bi-house-door-fill"></i> Home
      <i class="bi bi-gear"></i> Configurações
      <i class="bi bi-check-circle-fill text-success"></i> Sucesso!
    </div>
  </div>
</div>
